<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title><%-title%></title>
    <link rel="shortcut icon" type="image/x-icon" href="/source/favicon.ico"/>
    <script src="/source/jquery-3.6.0.js"></script>
    <script src="/source/jquery-ui.js"></script>
  </head>
  <body>
    <div id="mainDiv">
      <%-startFunction%>
    </div>
  </body>
</html>

